/* メインコンテンツのスタイル */
#main-content {
    padding: 30px 50px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ユーザー情報セクションのスタイル */
.sales-info-section-wrap {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 957px;
    padding: 60px 25px;
    font-family: 'Arial', sans-serif;
    border: 1px solid #e0e0e0;
}

.sales-info-group-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: end;
}

.sales-info-group-wrap .sales-info-group:nth-child(1) {
    margin-right: 10px;
}

.sales-info-group {
    width: 48%;
    border-bottom: 1px solid #E1E1E1;
}

.sales-info-group label {
    flex: 1;
    font-weight: bold;
    color: #333;
    font-size: 13px;
    margin-bottom: 21px;
}

.sales-info-group p {
    margin-top: 21px;
    font-size: 13px;
    margin-bottom: 12px;
    margin: 21px 0 12px 16px;
}

.sales-info-group .span {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea.sales-info-input {
    height: 100px;
    resize: none;
    /* テキストエリアのサイズ調整を無効にする */
}

.sales-info-group-textarea {
    border-bottom: 1px solid #E1E1E1;
}

/* テーブルコンテナ */
.purchase-info-container {
    width: 100%;
    max-width: 465px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.purchase-info-table {
    width: 100%;
    border-collapse: collapse;
}

.purchase-info-table thead {
    background-color: #2b2b2b;
    color: #fff;
    text-align: left;
}

.purchase-info-table th,
.purchase-info-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.purchase-info-table tbody {
    max-height: 237px;
    /* テーブルの高さ制限 */
    overflow-y: auto;
    /* 縦スクロール */
    display: block;
}

.purchase-info-table tbody tr {
    background-color: #fff;
}

.purchase-info-table thead,
.purchase-info-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.purchase-info-table tbody tr:hover {
    background-color: #f0f0f0;
}

/* ボタンのスタイル */
.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #4C83EE;
    border-radius: 5px;
    padding: 5px 10px;
    color: #4C83EE;
    cursor: pointer;
    margin-left: 16px;
    transition: 0.2s ease-in-out;
    width: 150px;
    height: 40px;
}

.back-btn:hover {
    background-color: #4C83EE;
    border: 1px solid #fff;
    color: #fff;
}

.back-btn:active {
    background-color: #124BBA;
}

.sales-info-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: none;
}