
/* error message */
/* メッセージボックスのスタイル */
.message-box {
    display: flex;
    width: 500px;
    max-width: 500px;
    height: 50px;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 15px;
    /* margin: -15px 0 15px; */
    margin: 0 auto 0 25px;
    font-size: 14px;
    line-height: 1.5;
}

/* アイコンのスタイル */
.message-box svg {
    margin-right: 10px;
}

/* 成功メッセージのスタイル */
.message-box.success {
    border-color: #398B66;
    color: #398B66;
}

/* エラーメッセージのスタイル */
.message-box.error {
    border-color: #C32929;
    color: #C32929;
}